# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @olgahryniuk

# Release manager added for notification on dependency updates
cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer

# General reviewers per PR
#                        Jordan     John      Mateusz     Kevin         Sam
*                        @Jimbo4350 @newhoggy @carbolymer @kevinhammond @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence



# /doc folder and README.* needs to be owned by @docs-access
doc/                                                          @input-output-hk/docs-access

README.*                                                      @input-output-hk/docs-access

*.nix                                                         @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
flake.lock                                                    @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
.github/workflows                                             @input-output-hk/core-tech-devx @input-output-hk/core-tech-release @input-output-hk/core-tech
configuration/                                                @input-output-hk/core-tech-devx @input-output-hk/core-tech-release
