# Technical writers
README.*                                                      @Jimbo4350 @newhoggy @carbolymer @smelc @palas @olgahryniuk
cardano-cli/README.md                                         @Jimbo4350 @newhoggy @carbolymer @smelc @palas @olgahryniuk

cabal.project                                                 @Jimbo4350 @newhoggy @carbolymer @smelc @palas

# General reviewers per PR
#                        Jordan     John      Mateusz     Clément Pablo  Kevin         Sam
*                        @Jimbo4350 @newhoggy @carbolymer @smelc  @palas @kevinhammond @disassembler

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

*.nix                                                         @intersectmbo/core-tech-devx @intersectmbo/core-tech-release-1
flake.lock                                                    @intersectmbo/core-tech-devx @intersectmbo/core-tech-release-1
.github/workflows                                             @intersectmbo/core-tech-devx @intersectmbo/core-tech-release-1
configuration/                                                @intersectmbo/core-tech-devx @intersectmbo/core-tech-release-1
